<div class="hero-unit">
  <h1>TERRA TECH GLOBAL</h1>
</div>

<div id="main" class="section">
  <div class="container">
    <h1>About</h1>
    <p>Bacon ipsum dolor amet spare ribs pig bacon rump, short loin meatloaf beef ribs tri-tip cow pork belly tail venison ham hock. Tail cupim shank, pork belly porchetta frankfurter prosciutto bresaola beef beef ribs chicken pork jowl. Ham hock flank tenderloin turkey pork loin ribeye pork belly chuck. Jerky shankle shank, capicola filet mignon sirloin porchetta boudin biltong pork belly. Tri-tip t-bone boudin tenderloin pastrami pork belly sausage beef ribs landjaeger pork chop ham hock. Salami ribeye ground round drumstick jowl cupim. Frankfurter tri-tip capicola, cupim meatloaf chuck tail shank porchetta ribeye beef spare ribs pork loin hamburger.</p>
    <p>Jerky fatback shank frankfurter sausage ham hock venison prosciutto short ribs chuck cupim pork short loin pork belly. Shoulder ribeye shankle doner, t-bone capicola leberkas turducken corned beef drumstick swine rump. Meatloaf tongue t-bone jowl bacon swine tenderloin. Alcatra swine sirloin sausage, turducken corned beef salami strip steak pancetta tenderloin shankle ground round.</p>
  </div>
</div>

<div id="directors" class="section">
  <div class="container">
    <h1>Directors</h1>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <hr />
        <div class="center-block circle light-marine-bg director-picture">
        </div>
        <h4 style="text-align:center">Rick</h4>
        <p>Capicola ham hock ball tip turkey leberkas landjaeger ribeye. Chuck drumstick pork loin, pork turducken strip steak ham hock shoulder bacon alcatra ball tip pancetta pork chop rump picanha. Leberkas turducken biltong alcatra pork loin, chicken pig brisket tri-tip. </p>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <hr />
        <img class="director-picture center-block" src="/images/ken.png" style="width:240px;"/>
        <h4 style="text-align:center">Ken</h4>
        <p>Sirloin swine cow pastrami pork biltong leberkas t-bone drumstick. Shoulder pig pork loin pork chop cupim venison flank andouille rump filet mignon kevin boudin alcatra picanha. Short loin cow boudin, turkey beef spare ribs sirloin ham t-bone pastrami cupim tongue pancetta biltong.</p>
      </div>
    </div>
  </div>
</div>
<div id="shareholders" class="section">
  <div class="container">
    <h1>Shareholders</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="center-block circle light-marine-bg shareholder-picture">
        </div>
        <h4 style="text-align:center">Steve</h4>
      </div>
      <div class="col-md-3">
        <div class="center-block circle yellow-bg shareholder-picture">
        </div>
        <h4 style="text-align:center">Mike</h4>
      </div>
      <div class="col-md-3">
        <div class="center-block circle red-bg shareholder-picture">
        </div>
        <h4 style="text-align:center">Joe</h4>
      </div>
      <div class="col-md-3">
        <div class="center-block circle dark-marine-bg shareholder-picture">
        </div>
        <h4 style="text-align:center">Allison</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="center-block circle light-yellow-bg shareholder-picture">
        </div>
        <h4 style="text-align:center">Steve</h4>
      </div>
      <div class="col-md-3">
        <div class="center-block circle red-bg shareholder-picture">
        </div>
        <h4 style="text-align:center">Mike</h4>
      </div>
      <div class="col-md-3">
        <div class="center-block circle marine-bg shareholder-picture">
        </div>
        <h4 style="text-align:center">Joe</h4>
      </div>
      <div class="col-md-3">
        <div class="center-block circle yellow-bg shareholder-picture">
        </div>
        <h4 style="text-align:center">Allison</h4>
      </div>
    </div>
  </div>
</div>