<div class="hero-unit">
  <h1>TERRA TECH GLOBAL</h1>
</div>

<div id="main" class="section">
  <div class="container">
    <h1>Charity</h1>
    <div class="marine-bg" style="height:400px; margin-bottom: 20px;border-radius:2px;"></div>

  </div>
</div>

<div id="details" class="section">
  <div class="container">

    <p>Drumstick sirloin jowl, ham hock tail brisket flank ham. Brisket capicola ground round ball tip shankle turkey tri-tip jerky tail swine strip steak shoulder flank. Flank boudin corned beef, spare ribs ribeye beef ham hock meatloaf leberkas t-bone drumstick prosciutto tri-tip ball tip jowl. Alcatra tri-tip shoulder short loin. Salami pastrami capicola, pork loin biltong swine turducken spare ribs shank andouille flank ham hock pig pancetta alcatra. Drumstick chicken salami tenderloin alcatra frankfurter chuck turducken pastrami pork. Strip steak ham shank, prosciutto swine ball tip short loin beef tenderloin doner filet mignon salami porchetta.</p>
  </div>
</div>