{{!< default}}
<div class="hero-unit">
  <h1>TERRA TECH GLOBAL</h1>
</div>

<div id="main" class="section">
  <div class="container">
    <p>Chuck jowl pork chop pancetta ham. Biltong pig pork belly, turkey turducken tenderloin spare ribs jerky chuck salami. Fatback ham meatloaf pork loin sirloin. Alcatra t-bone prosciutto, salami frankfurter kielbasa pastrami hamburger. Pork chicken pastrami salami flank, frankfurter biltong shoulder bacon hamburger ribeye. Kielbasa sausage sirloin ball tip swine cupim, hamburger tongue shankle doner pork loin short ribs pastrami. Biltong shoulder doner bresaola, chuck strip steak pork.</p>
    <p>Fatback cupim tongue ham capicola pastrami cow pork belly kielbasa chuck biltong brisket. Frankfurter pig swine, ham hock shankle venison cow sausage. Tail salami boudin tri-tip bresaola, chuck cupim shoulder picanha shankle sirloin porchetta leberkas tongue. Fatback capicola ham hock, drumstick alcatra picanha pork loin ribeye shank spare ribs pig.</p>
  </div>
</div>

<div id="details" class="section">
  <div class="container">
    <h1>Projects</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="project-summary">
          <hr />
          <h4>Mercury Recovery</h4>
            <div class="project-image red-bg"></div>
          <p>Alcatra tri-tip shoulder short loin. Salami pastrami capicola, pork loin biltong swine turducken spare ribs shank andouille flank ham hock pig pancetta alcatra.</p>
          <div class="btn">Learn More ></div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="project-summary">
          <hr />
          <h4>Artifact Recovery</h4>
          <div class="project-image marine-bg"></div>
          <p>Shankle doner short loin pork belly beef ribeye bresaola capicola frankfurter brisket.</p>
          <div class="btn block-center">Learn More ></div>


        </div>
      </div>
    </div>
  </div>
</div>